

section{
    border: 1px solid black;
}


/**FIM DO BORDER */

/*MAIN CSS */

nav{
    display: flex;
    height: 12vh;
    width: 100%;
    z-index: 99;
    position: fixed;
    align-items: center;
    background: transparent;
    transition: background .4s ease-in-out;
}

.logonv{
    width: 15%;
    height: 70%;
    margin: 0% 2%;
}

.buttonnv{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: 
    center;
}

nav .assinenv{
    outline: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    padding: 1em 1em;
    border-radius: 5px;
    background: blue;
    color: white;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    transition: background .4s ease-out;
}

nav .assinenv:hover{
    background: rgb(0, 119, 255);
}

nav .enternv{
    margin-left: 1%;
    outline: 0;
    opacity: 1;
    padding: 1em 1em;
    border-radius: 4px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background .2s ease-out;
    transition: color .2s ease-out;
}

nav .enternv:hover{
    background: white;
    color: #040714;
}


nav .logonv{
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.navbg{
    background: #040714!important;
}

.navbg .assinenv{
    opacity: 1!important;
}

.navbg .enternv{
    opacity: 1!important;
}

.navbg .logonv{
    opacity: 1!important;
}


.sec0{
    height: 100vh;
    position: relative;
    display: block;
    width: 100%;
    background: url("assets/background\ pc.jpg");
    background-size: cover;
    background-position-y: 0%;
    background-position-x: 80%;
}

.textsc0{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 22vh;
    margin-left: 5vw;
    min-width: 30%;
    width: fit-content;
    height: fit-content;
    color: white;
    padding: 1vh 1vw;
}

.textsc0 h5{
    margin-top: 1vh;
    text-shadow: 0 0 24px #040714;
}

.imgsc0{
    height: 80%;
    width: 60%;
    margin: 4vh 0;
}

.textsc0 a{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 1.4em 1em;
    background: #6421ff;
    border-radius: 8px;
    transition: background .5s ease-out;
}

.textsc0 a:hover{
    background: #763cff;
}

.hintsc0{
    opacity: 0.6;
    cursor: pointer;
    position: absolute;
    top: 95%;
    left: 5%;
    height: 1.2em;
    width: fit-content;
    animation: hintsc0 1s ease-out infinite;
}

.hintsc0 img{
    transform: rotate(180deg);
}

@keyframes hintsc0 {
    0%{
        transform: translateY(0%);
    }
    20%{
        transform: translateY(-50%);
    }
    50%{
        transform: translateY(0%);
    }
    80%{
        transform: translateY(20%);
    }

    100%{
        transform: translateY(0%);
    }
}

.sec1{
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #040714;
}

.centersc1{
    margin-top: 4vh;
    width: 90%;
    height: fit-content;
}

.centersc1 h3{
    color: white;
    margin: 2vh 0;
    text-align: center;
}

.centersc1 ul{
    list-style-type: none;
    display: flex;
    align-items:flex-end;
    width: 100%;
    min-height: auto;
    height: fit-content;
    flex-wrap: wrap;
}

.centersc1 ul li{
    text-align: center;
    width: 32%;
    min-height: 100%;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centersc1 ul li h5{
    color: white;
    text-align: center;
    margin: 1vh 0;
}

.centersc1 ul li p{
    color: #9C9D9E;
    text-align: center;
    margin: 1vh 10%;
}

.centersc1 ul li a{
    color: white;
    padding: 1em 2em;
    margin: 1vh 0;
    display: block;
    width: 80%;
    border-radius: 8px;
    text-decoration: none;
    background: #6421ff;
    text-align: center;
}
.centersc1 ul li a:hover{
    background: #6c2ffa;
}

.centersc1 ul li:nth-child(2){
    text-align: center;
    background: url("assets/mold.png") top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 4vh;
}

.centersc1 span{
    display: block;
    min-width: 50%;
    width: fit-content;
    margin: 2vh auto;
    color: #9C9D9E;
    text-align: center;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30vh;
    height: fit-content;
    padding: 2vh 1vw;
    background: #040714;
    flex-wrap: wrap;
}

.imgsc2{
    width: 48%;
    margin-right: 2%;
}

.textsc2{
    width: 48%;
    height: fit-content;
}

.textsc2 h3{
    color: white;
    margin: 2vh 0;
}

.textsc2 h6{
    font-weight: lighter;
    margin: 1vh 0;
    color: #9C9D9E;
    line-height: 115%;
}

.sec3{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 12vh 2vw;
    background: #040714;
}

.sec3 h3{
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.sec3 h6{
    font-weight: lighter;
    text-align: center;
    display: block;
    width: 80%;
    color: #9C9D9E;
    margin: 1vh 10%;
}

.gridsc3{
    display: grid;
    margin: 5% 2.5%;
    width: 95%;
    height: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.imgsc3{
    width: fit-content;
    height: fit-content;
}

.imgsc3 img{
    border-radius: 10px;
}

.sec4{
    background: #040714;
    min-height: 40vh;
    padding: 2vh 1vw;
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    position: relative;
}

.imgsc4{
    display: flex;
    justify-content: center;
    width: 100%;
}

.imgsc4 img{
    object-fit: cover;
}

.textsc4{
    top: 50%;
    left: 50%;
    position: absolute;
    width: 45%;
    min-height: 20%;
    height: fit-content;
}

.textsc4 h3{
    color: white;
    margin: 4vh 10px;
}

.textsc4 h5{
    color: #9C9D9E;
font-weight: 100;
    margin: 1vh 10px;
    line-height: 110%;
}

.sec5{
    background: #040714;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    height: fit-content;
    width: 100%;
    padding: 2vh 2vw;
}

.sec5 h4{
    text-align: center;
    margin: 2vh 0;
    color: white;
}

.ulsc6{
    min-height: 20vh;
    height: fit-content;
    width: 90%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 4vh 0;
}

.ulsc6>li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    width: fit-content;
    height: fit-content;
    align-items: center;
}

.ulsc6>li>.imglisc6{
    width: 100%;
    height: 50%;
    margin: 1vh 0;
}

.ulsc6>li>h6{
    color: white;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 1vh 0;
    display: block;
}

.ulsc6>li>.textsc6 h6{
    display: none;
}

.ulsc6>li>.textsc6{
    text-align: center;
    color: silver;
    font-weight: lighter;
    margin-bottom: 5vh;
}

.ulsc6>li>.textsc6>p{
    margin: 1vh 0;
    transition: color .5s ease;
}

.ulsc6>li>.textsc6>p:hover{
    color: white;
}

.sec6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
    width: 100%;
    min-height: 40vh;
    height: fit-content;
    background: #040714;
}

.sec6 h3{
    color: white;
    margin: 5vh 0;
}

.centersc6{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: center;
    width: 90%;
    margin: 4vh 0 10vh 0;
}

.centersc6>div{
    display: block;
    width: 100%;
}

.centersc6>div>button{
    padding: 1em 2em;
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-align: start;
    font-size: 0.7em;
    background: #2f3344;
    cursor: pointer;
    position: relative;
    border: 0;
    margin: 1vh 0;
}

.centersc6>div>button::after{
    content: '+'!important;
    position: absolute;
    left: 95%;
    font-size: 2em;
    width: 2%;
    height: fit-content;
}

.centersc6>div>.btnexp{
    margin: 1vh 0 0 0;
}

.centersc6>div>.btnexp::after{
    content: '-'!important;
    position: absolute;
    left: 95%;
    font-size: 2.4em;
    width: 2%;
    height: fit-content;
}

.centersc6>div>p{
    opacity: 0;
    transition: opacity .5s ease;
    display: none;
    padding: 1vh 1vw;
    margin-bottom: 2vh;
    background:#2f3344;
    color: white;
    line-height: 120%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2vh 1vw;
    height: fit-content;
    background:#040714;
}

.imgfooter{
    margin-top: 6vh;
    width: fit-content;
    height: 10vh;
}

.linksfooter{
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    height: fit-content;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}

.linksfooter select{
    margin: 1vh 0;
    background: #040714;
    outline: 0;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin: 0px 1px;
    color: white;
}

.linksfooter option{
    background: white;
    color: black;
}

.linksfooter a{
    margin: 1vh 0;
    padding: 0em 3em;
    text-decoration: none;
    color: #9C9D9E;
    transition: color .2s ease;
}

.linksfooter a:hover{
    color: #fafafa;
}

footer span{
    color: #DBDBDD;
}

.footer1{
    margin: 2vh 5%;
    text-align: center;
    font-weight: lighter;
    line-height: 120%;
}

.footer2{
    margin: 2vh 5%;
    text-align: center;
    line-height: 140%;
    font-weight: lighter;
}

/**END MAIN CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/**BOOT CSS */

p,span, a,select{    
    font-size: 0.6rem;
}

img{
    object-fit:contain;
    max-width: 100%!important;
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 575px) {
    /**small phones */
    html{
        font-size: 1rem;
    }

    nav .enternv, nav .assinenv{
        margin: 0 4%;
        padding: 2.2em 2em;
    }
    .sec0{
        background: url("assets/background.jpg");
        background-size: cover;
        background-position-y: top;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textsc0{
        margin-top: 10vh;
        margin-left: 0;
        width: 100%;
        height: 40%;
        font-size: 1.4em;
        padding: 0 0;
    }

    .textsc0 a{
        margin: 0;
        width: 90%;
            padding: 1.5em 0.5em;
    }

    .imgsc0{
        width: 80%;
        height: 40%;
    }
    .hintsc0{
        top: 80%;
        margin: 0 45%;
        display: block;
        width: 10%;
        height: 2vh;
    }
    .centersc1 ul li{
        width: 100%;}
        .centersc1 ul li p{
            margin: 0vh 20%;
        }
    .imgsc2{
        width: 100%;
    }
    .textsc2{
        width: 100%;
    }
    .gridsc3{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0;
        height: 80%;
    }
    .gridsc3 .imgsc3:nth-child(9){display: none;}
    .sec4{
        flex-wrap: wrap;
    }
    .textsc4{width: 40%;
    left: 50%;
top: 5%;
margin: 1vh 0;
font-weight: bolder;}

.ulsc6{flex-wrap: wrap;}
.ulsc6>li{
    width: 100%;
}
}


@media only screen and (min-width: 576px) and (max-width: 768px){
    /**BIG PHONES */
    html{
        font-size: 1.2rem;
    }
    .centersc1 ul li{
        width: 100%;}
        .centersc1 ul li p{
            margin: 0vh 20%;
        }
    .sec0{
        background: url("assets/background.jpg");
        background-size: cover;
        background-position-y: top;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textsc0{
        margin-top: 0;
        margin-left: 0;
        width: 80%;
        height: 70%;
        font-size: 1.5em;
    }
    .textsc0 a{
        padding: 1.5em 0.5em;
    }
    .imgsc0{
        width: 80%;
        height: 40%;
    }
    .hintsc0{
        top: 88%;
        margin: 0 40%;
        display: block;
        width: 20%;
        height: 4vh;
    }
    .footer1 h6{
        font-size: 100%;
    }
    .footer2 h6{
        font-size: 100%;
    }
    .textsc4{
top: 10%;}
    .gridsc3{
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0;
        height: 80%;
    }
    .gridsc3 .imgsc3:nth-child(9){display: none;}
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    /**Big Tablets */
    html{
        font-size: 1.4rem;
    }
    .sec0{
        background: url("assets/background.jpg");
        background-size: cover;
        background-position-y: top;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textsc0{
        margin-top: 12vh;
        min-width: 80%;
        width: fit-content;
        height: 40%;
    }
    .textsc0 h5{
        font-size: 120%;
    }
    .hintsc0{
        left: 50%;
        height: 3em;
            top: 90%;
    }

    .footer1 h6{
        font-size: 100%;
    }
    .footer2 h6{
        font-size: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    /**DESKTOP */
    html{
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1679px){
    /**DESKTOP MEDIUM */
    html{
        font-size: 1.8rem;
    }
    
}

@media only screen and (min-width: 1680px) {
    /**BIG DESKTOP */
    html{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 2080px) {
    /**BIG THAN DESKTOP */
    html{
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 3000px) {
    /**EXTRA LARGUE DESKTOP */
    html{
        font-size: 3rem;
    }
}